@import "./tailwind-theme.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  height: 100dvh;
  width: 100dvw;
}

#root {
  height: 100%;
  width: 100%;
}
